
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<hr>
  <nav class="navbar navbar-dark bg-dark">
    <a [routerLink]="['/']" class="navbar-brand">Let's Eat</a>
  </nav>
  <hr>

<div id="container">

      <a [routerLink]="['/newplace']"><button class="btn btn-success" >New Restaurant</button></a>

    <router-outlet></router-outlet>

</div>
<br>
